*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

body{
    background: rgb(243, 244, 245);
}

header{
    width: 100%;
    margin: auto;
    max-width: 1200px;
    background: linear-gradient(rgb(116, 2, 2), red);
    padding: 20px 0;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}


header h1{
    color: #fff;
    text-align: center;
    font-size: 30px;
    letter-spacing: 2px;
}

header p{
    text-align: center;
    padding-top: 10px;
    color: #fff;
}

/*-------------------------------------------------------------------main-----------------------------------*/

.contenedor-total{
    width: 99%;
    max-width: 1200px;
    margin: auto;
    font-family: 'Poppins', sans-serif;
}

.contenedor-valores{
    /*height: 100vh;*/
    display: flex;
    flex-direction: column;
    
    background: #fff;
}

.contenedor-valores .valor{
    width: 100%;
   /* height: 100vh;*/
   border: 2px solid rgb(224, 224, 227);
   
}

.contenedor-valores .valor h3{
    font-size: 20px;
    letter-spacing: 1px;
    color: rgb(66, 62, 62);
    margin: 20px 0 0 20px;
   
}

.contenedor-valores .valor p{
    margin-left: 20px;
    color: rgb(81, 78, 78);
    padding-top: 10px;
}

.nota{
    background: rgb(240, 159, 159);
    margin-bottom: 0;
}

.nota h4{
    padding: 20px 0 0 20px;
}

.nota p{
    padding: 5px 0 10px 10px;
    
}

/*-------------------------------------------------------------------------individuales y transiciones----------------*/
.contenedor-valores .valor .figura1{
    width: 150px;
    height: 150px;
    border: 10px solid red;
    background-image: url(bicicleta.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin: 70px;
    padding: 20px;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    
}


.contenedor-valores .valor .figura1:hover{    
    transform: translate(900px);
}

/*---------------------------------------------*/


.contenedor-valores .valor .figura2{
    width: 150px;
    height: 150px;
    border: 10px solid red;
    background-image: url(bicicleta.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin: 70px;
    padding: 20px;
    font-size: 20px;
    text-align: center;
    cursor: pointer;

    transition-property: transform;
    transition-duration: 6s;
    
}

.contenedor-valores .valor .figura2:hover{    
    transform: translate(900px);
}

/*---------------------------------------------*/

.contenedor-valores .valor .figura3{
    width: 150px;
    height: 150px;
    border: 10px solid red;
    background-image: url(bicicleta.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin: 70px;
    padding: 20px;
    font-size: 20px;
    text-align: center;
    cursor: pointer;

    transition-property: border-radius, transform;
    transition-duration: 5s;
    
}

.contenedor-valores .valor .figura3:hover{  
    border-radius: 50%;  
    transform: translate(900px);
}

/*---------------------------------------------*/

.contenedor-valores .valor .figura4{
    width: 150px;
    height: 150px;
    border: 10px solid red;
    background-image: url(bicicleta.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin: 70px;
    padding: 20px;
    font-size: 20px;
    text-align: center;
    cursor: pointer;

    transition-property: all;
    transition-duration: 5s;
    
}

.contenedor-valores .valor .figura4:hover{  
    border-radius: 50%;  
    transform: translate(900px);
    background-color: yellow;
}

/*----------------------------------------------*/

.contenedor-valores .valor .figura5{
    width: 150px;
    height: 150px;
    border: 10px solid red;
    background-image: url(bicicleta.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin: 70px;
    padding: 20px;
    font-size: 20px;
    text-align: center;
    cursor: pointer;

    transition-property: all;
    transition-duration: 3s;
    transition-timing-function: ease;
    
}

.contenedor-valores .valor .figura5:hover{  
    transform: translate(900px);
   
}


/*-----------------------------------------------*/
.contenedor-valores .valor .figura6{
    width: 150px;
    height: 150px;
    border: 10px solid red;
    background-image: url(bicicleta.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin: 70px;
    padding: 20px;
    font-size: 20px;
    text-align: center;
    cursor: pointer;

    transition-property: all;
    transition-duration: 3s;
    transition-timing-function: linear;
    
}

.contenedor-valores .valor .figura6:hover{  
    transform: translate(900px);
   
}

/*------------------------------------------*/

.contenedor-valores .valor .figura7{
    width: 150px;
    height: 150px;
    border: 10px solid red;
    background-image: url(bicicleta.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin: 70px;
    padding: 20px;
    font-size: 20px;
    text-align: center;
    cursor: pointer;

    transition-property: all;
    transition-duration: 3s;
    transition-timing-function: ease-in;
    
}

.contenedor-valores .valor .figura7:hover{  
    transform: translate(900px);
   
}

/*..............................................*/
.contenedor-valores .valor .figura8{
    width: 150px;
    height: 150px;
    border: 10px solid red;
    background-image: url(bicicleta.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin: 70px;
    padding: 20px;
    font-size: 20px;
    text-align: center;
    cursor: pointer;

    transition-property: all;
    transition-duration: 3s;
    transition-timing-function: ease-out;
    
}

.contenedor-valores .valor .figura8:hover{  
    transform: translate(900px);
   
}

/*..............................................*/
.contenedor-valores .valor .figura9{
    width: 150px;
    height: 150px;
    border: 10px solid red;
    background-image: url(bicicleta.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin: 70px;
    padding: 20px;
    font-size: 20px;
    text-align: center;
    cursor: pointer;

    transition-property: all;
    transition-duration: 3s;
    transition-timing-function: ease-in-out;
    
}

.contenedor-valores .valor .figura9:hover{  
    transform: translate(900px);
   
}

/*..............................................*/
.contenedor-valores .valor .figura10{
    width: 150px;
    height: 150px;
    border: 10px solid red;
    background-image: url(bicicleta.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin: 70px;
    padding: 20px;
    font-size: 20px;
    text-align: center;
    cursor: pointer;

    transition-property: all;
    transition-duration: 3s;
    transition: cubic-bezier(0.25, 0.1, 0,25, 1);
    
    
}

.contenedor-valores .valor .figura10:hover{  
    transform: translate(900px);
   
}





/*------------------------------------------------------------------------------------------------------*/





